<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>蒙牛</title>
    <script type="text/javascript" language="javascript">

    function selType(show) {

        if (show == 'b'){
            document.getElementById("pro").style.display = "inline-block";
            document.getElementById("table1").style.display = "inline";
}
        if (show == 'a'){
            document.getElementById("table1").style.display = "none";
            document.getElementById("pro").style.display = "inline-block";

}
        if (show == 'pro'){
            document.getElementById("pro").style.display = "none";
            document.getElementById("table1").style.display = "none";
   }


    }
   </script>

    <link rel="stylesheet" href="../static/assets/css/amazeui.css"/>
    <link rel="stylesheet" href="../static/assets/css/core.css"/>
    <link rel="stylesheet" href="../static/assets/css/menu.css"/>
    <link rel="stylesheet" href="../static/assets/css/index.css"/>
    <link rel="stylesheet" href="../static/assets/css/admin.css"/>
    <link rel="stylesheet" href="../static/assets/css/page/typography.css"/>
    <link rel="stylesheet" href="../static/assets/css/page/form.css"/>
    <link rel="stylesheet" href="../static/assets/css/component.css"/>
</head>
<body>
<!-- Begin page -->
<header class="am-topbar am-topbar-fixed-top">
    <div class="am-topbar-left am-hide-sm-only">
        <a href="index.html" class="logo"><span>蒙<span>牛</span></span><i class="zmdi zmdi-layers"></i></a>
    </div>

    <div class="contain">
        <ul class="am-nav am-navbar-nav am-navbar-left">

            <li><h4 class="page-title">母乳评价-距离计算</h4></li>
        </ul>
    </div>
</header>
<!-- end page -->


<div class="admin">
    <!--<div class="am-g">-->
    <!-- ========== Left Sidebar Start ========== -->
    <!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
            <div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas  am-padding-0" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <!-- User -->
            <div class="user-box am-hide-sm-only">
                <div class="user-img">
                    <img src="../static/assets/img/avatar-1.jpg" alt="user-img" title="Mat Helme"
                         class="img-circle img-thumbnail img-responsive">
                    <div class="user-status offline"><i class="am-icon-dot-circle-o" aria-hidden="true"></i></div>
                </div>
                <h5><a href="#">{{ uname }}</a></h5>
                <ul class="list-inline">
                    <li>
                        <a href="#">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="text-custom">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End User -->

            <ul class="am-list admin-sidebar-list">
                <li><a href="/upload/"><span class="am-icon-home"></span>文件上传</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-table"></span>
                        描述性统计 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav1">
                        <li><a href="/yuanshi/" class="am-cf"> 母乳原始数据</a></li>
                        <li><a href="/xiangdui/">母乳相对数据</a></li>
                        <li><a href="/nfyuanshi/" class="am-cf"> 奶粉原始数据</a></li>
                        <li><a href="/nfxiangdui/">奶粉相对数据</a></li>
                    </ul>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><i class="am-icon-line-chart"
                                                                                      aria-hidden="true"></i> 数据分析 <span
                            class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav2">
                        <li><a href="/charts/" class="am-cf">箱型图图和小提琴图</a></li>
                        <li><a href="/PCA_MDS/" class="am-cf">MDS和PCA</a></li>
                        <li><a href="/mama/" class="am-cf">母乳评价</a></li>
                        <li><a href="/searchdis/" class="am-cf">奶粉评价</a></li>
<li><a href="/disnew/" class="am-cf">新模式评价</a></li>
<li><a href="/oplds/" class="am-cf">PLS-DA</a></li>
                    </ul>

                </li>

            </ul>
        </div>
    </div>
    <!-- sidebar end -->

    <!--</div>
</div>
</div>-->
    <!-- ========== Left Sidebar end ========== -->


    <!--	<div class="am-g">-->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">

        </div>

        <div class="am-u-md-12">
            <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30"></h4>

                <div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                    <div align="center">
                 <form method="POST" name="form" enctype="multipart/form-data" action="" class="form-inline" role="form">
                    {% csrf_token %}

                      计算方式

                       <input type="radio" value="a" name="check_box_com"  onchange="selType('a')"/>max-min-ave
                       <input type="radio" value="b" name="check_box_com" onchange="selType('b')" />影响因素
                       <input type="radio" value="c" name="check_box_com" onchange="selType('a')"/>所有妈妈
                      <input type="radio" value="pro" name="check_box_com" onchange="selType('pro')" >母乳_蛋白质


<br>
<div id="table1" style="display:none">
 影响因素：<input type="radio" value="city" name="check_box_list_inf" >南北方
                             <input type="radio" value="birth_jd" name="check_box_list_inf">季度
                             <input type="radio" value="age1" name="check_box_list_inf" >年龄
                                <input type="radio" value="fenmian_way" name="check_box_list_inf" >分娩方式
                     <input type="radio" value="chanci" name="check_box_list_inf">产次
</div>
<br>


                      欧氏距离删除<input type="text" name="delmama" placeholder="请输入0-10">%的妈妈




<br>
                     <br>
 <div id="pro" style="display:inline">
                       氨基酸：<input type="checkbox"  value="lai" name="check_box_list_ajs" checked="checked">赖氨酸
                             <input type="checkbox" value="su" name="check_box_list_ajs" checked="checked">苏氨酸
                             <input type="checkbox" value="jie" name="check_box_list_ajs" checked="checked">缬氨酸
                                <input type="checkbox" value="dan" name="check_box_list_ajs" checked="checked" >蛋氨酸
                             <input type="checkbox" value="yiliang" name="check_box_list_ajs" checked="checked">异亮氨酸
                             <input type="checkbox" value="liang" name="check_box_list_ajs" checked="checked">亮氨酸
                                <input type="checkbox" value="benbing" name="check_box_list_ajs" checked="checked">苯丙氨酸
                             <input type="checkbox" value="se" name="check_box_list_ajs" checked="checked">色氨酸
                             <input type="checkbox" value="zu" name="check_box_list_ajs" checked="checked">组氨酸
                                <input type="checkbox" value="tiandong" name="check_box_list_ajs" checked="checked">天冬氨酸
                             <input type="checkbox" value="si" name="check_box_list_ajs" checked="checked">丝氨酸
                             <input type="checkbox" value="gu" name="check_box_list_ajs" checked="checked">谷氨酸
                            <input type="checkbox" value="gan" name="check_box_list_ajs" checked="checked">甘氨酸
                             <input type="checkbox" value="bing" name="check_box_list_ajs" checked="checked">丙氨酸
                             <input type="checkbox" value="lao" name="check_box_list_ajs" checked="checked">酪氨酸
                                <input type="checkbox" value="jing" name="check_box_list_ajs"checked="checked" >精氨酸
                             <input type="checkbox" value="fu" name="check_box_list_ajs" checked="checked">脯氨酸
                             <input type="checkbox" value="banguang" name="check_box_list_ajs" checked="checked" >半胱氨酸
                     <input type="checkbox" value="baa" name="check_box_list_ajs" checked="checked" >必须比上总氨基酸
                     <input type="checkbox" value="fbaa" name="check_box_list_ajs" checked="checked" >非必须比上总氨基酸
<br>
</div>
<br>
                         泌乳时期<select class="form-control" name="check_box_list_miruqi">
                        <option name="check_box_list_miruqi" value="3">早期成熟乳</option>
                        <option name="check_box_list_miruqi" value="4">晚期成熟乳</option>

                         </select>
<br>
 距离计算方法<select class="form-control" name="dis">
                        <option name="dis" value="欧氏距离">欧氏距离</option>
                        <option name="dis" value="余弦距离">余弦距离</option>
                     <option name="dis" value="braycurtis">变异系数</option>
                      <option name="dis" value="correlation">相关系数</option>
                     <option name="dis" value="氨基酸比值系数">氨基酸比值系数</option>
                         </select>

                <br>



                <br>

                <input type="submit" value="查询"  class="btn btn-default" >
                </form>
            </div>

 <img src="../static/pic/box.jpg" width="1200px" height="800px">

                {{ flag }}
                {% ifequal flag '查询成功' %}
                     <div id="table1" style="display:inline">
                    <form method="POST" name="form" enctype="multipart/form-data" action="" class="form-inline" role="form">
                    {% csrf_token %}
                        <input type="hidden" name="filename" value={{ flag1 }}>
                <input type="submit"  value="下载"  class="btn btn-default" >
                </form>
                </div>
                {% else %}
                     <div id="table1" style="display:none">
                    <form method="POST" name="form" enctype="multipart/form-data" action="" class="form-inline" role="form">
                    {% csrf_token %}
                        <input type="hidden" name="filename" value={{ flag1 }}>
                <input type="submit"  value="下载"  class="btn btn-default" >
                </form>
                </div>
                {% endifequal %}
                <br>
                <br>
                <table class="am-table   am-text-nowrap">
                         <thead>
                            <tr>

                               <th>名称</th>
                            <th>距离名称</th>
                            <th>得分</th>
                            </tr>
                        </thead>


                        <tbody>
                      {% for user in page.object_list %}
                      <tr>
                        <td>{{ user.naifenname }}</td>
                        <td>{{ user.distancename }}</td>
                        <td>{{ user.mama1}}</td>
                      </tr>
                    {% endfor %}
                   </tbody>
                    </table>

                <nav aria-label="Page navigation">
                        <ul class="am-pagination">
                            {% if page.has_previous %}
                                <li>
                                    <a href="?page={{ page.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for number in page_range %}
                                {% if current_page == number %}
                                    <li class="active"><a href="?page={{ number }}">{{ number }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ number }}">{{ number }}</a></li>
                                {% endif %}

                            {% endfor %}
                            {% if page.has_next %}
                                <li>
                                    <a href="?page={{ page.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end right Content here -->
    <!--</div>-->
</div>
</div>

<!-- navbar -->
<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

<script type="text/javascript" src="../static/assets/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="../static/assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="../static/assets/js/app.js"></script>
<script type="text/javascript" src="../static/assets/js/blockUI.js"></script>
<script type="text/javascript" src="../static/assets/js/charts/echarts.min.js"></script>
<script type="text/javascript" src="../static/assets/js/charts/indexChart.js"></script>

</body>

</html>
